@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Sentient;
    font-weight: 300;
    src: url(/fonts/Sentient_Complete/Fonts/OTF/Sentient-Light.otf)
      format("otf");
  }
  @font-face {
    font-family: Sentient;
    font-weight: 400;
    src: url(/fonts/Sentient_Complete/Fonts/OTF/Sentient-Regular.otf)
      format("otf");
  }
  @font-face {
    font-family: Sentient;
    font-weight: 500;
    src: url(/fonts/Sentient_Complete/Fonts/OTF/Sentient-Medium.otf)
      format("otf");
  }
  @font-face {
    font-family: Sentient;
    font-weight: 600;
    src: url(/fonts/Sentient_Complete/Fonts/OTF/Sentient-Bold.otf) format("otf");
  }
}
